{% extends 'base.html.twig' %}
{% block body %}
    <p>End of the game :P</p>
<table>
    {% for tableRow in tableData %}
        <tr>
        <td> {{ tableRow.player.name }} </td>
        <td> {{ tableRow.points }} </td>
    {% endfor %}
    </tr>
</table>
    <td><a href="{{ path('welcome') }}">Start again</a></td>
{% endblock %}
