{% extends 'base.html.twig' %}
{% block body %}
<table>
    {% for tableRow in tableData %}
        <tr>
        <td> {{ tableRow.player.name }} </td>
        <td> {{ tableRow.points }} </td>
    {% endfor %}
    </tr>
</table>
{% endblock %}

