{% extends 'base.html.twig' %}
{% block body %}
    {{ tableStatus }}
<table>
    {% for tableRow in tableData %}
        <tr>
        <td> {{ tableRow.player.name }} </td>
        <td> {{ tableRow.score }} </td>
    {% endfor %}
    </tr>
</table>
    <br>
    <table>
        {% for pair in shuffleData %}
            <tr>
                {% for single in pair %}
                    <td>{{ single.player.name }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}

