<h3>Incoming revenges:</h3>
{% block dueltable %}
    <tr align="left">
        <th>Name</th>
        <th>vs</th>
        <th>Name</th>
    </tr>
    <tr align="left">
    {% for duel in duelTable %}
        <td> {{ duel.player1.name }} </td>
        <td> -</td>
        <td> {{ duel.player0.name }} </td>
        </tr>
    {% endfor %}
{% endblock %}