{% extends 'base.html.twig' %}
{% block title %}League Generator{% endblock%}
{% block body %}
<h2>Welcome in The League Table Generator.</h2>
<h3>Select button to continue.</h3>
<button type="button" onclick="window.location='{{ url("data_remove") }}'">Start new game</button>
<button type="button" onclick="window.location='{{ url("start-game") }}'">Continue game</button>
{% endblock %}