{% extends 'base.html.twig' %}
{% block body %}
<div class="ui column doubling stackable grid container">
    <div class="red column row"></div>
    <div class="blue column centered row">
        <div class="content">
            <h2 class="ui icon header">
                <i class="handshake outline icon"></i>
                Welcome in The Great League Generator
                <div class="sub header">Select button to start new, or to continue.</div>
            </h2>
        </div>
        <div class="ui divider"></div>
    </div>
</div>

<div class="ui column doubling stackable grid container">
    <div class="orange column">
        <p></p>
        <p></p>
    </div>
    <div class="green column">
        <p></p>
        <p></p>
    </div>
</div>